/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/desktop-file-utils-*.tar.bz2
/desktop-file-utils-*.tar.gz
/desktop-file-utils-*.tar.xz
/elisp-comp
/install-sh
/libtool
/ltmain.sh
/m4/*.m4
/man/Makefile.in
/misc/Makefile.in
/missing
/so_locations
/src/Makefile.in
/stamp-h1
/tags
